<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudo Flask - Camp Code</title>
    <style>
       
        body {
            font-family: Arial, sans-serif;
        
        
        }
        
    </style>
</head>
<body >
    <div style = 'background-color: #14213d;'>
        <h1 style = 'color:#ffff' >Flask Natan</h1>
        <ul>
            <li>Sobre mim</li>
            <li>Meu Curriculo</li>
            <li>Meus Projetos</li>
        </ul>
    </div>
    <div>

    </div>
    
</body>
</html>